<% comments ||= [] %>

<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <%= gravitar_image_tag comment.cached_user_email, size: "64x64", class: 'media-object' %>
    </div>
    <div class="media-body">
      <h5 class="media-heading">
        <%= comment.cached_user_name %> <small>• <%= time_ago_in_words comment.updated_at %> ago</small>
      </h5>
      <%= markdown(comment.body).html_safe %>
      <div style="margin-top: -10px; margin-bottom: 10px; display: none">
        <a href="#">Like</a> <small>•</small>
        <a href="#">Reply</a> <small>•</small>

        <span class="text-primary">
          <%= fa_icon('thumbs-up', text: 1) %>
        </span>
      </div>

      <%= render 'comments/list', comments: comments, parent_id: comment.id %>

    </div>
  </li>
</ul>
