<% item_class = submission.viewable_by?(current_user) ? "" : "disabled" %>
<% item_class += submission.user_id == current_user.try(:id) ? "list-group-item-success" : "" %>
<% submission_url = submission.viewable_by?(current_user) ? submission.url : "#nice_try" %>
<% submission_tag = submission.viewable_by?(current_user) ? 'a' : "span" %>

<<%= submission_tag %> href="<%= submission_url %>" class="list-group-item <%= item_class %>" target="_blank">
  <%# link_to submission.url, submission.url, target: "_blank" %>
  <p class="list-group-item-text">
    <div class="pull-right">
      <% if current_user %>
      <!-- @user.voted_up_on? @comment1 -->
        <% like_button_class = submission.voted_on_by?(current_user) ? 'btn-primary' : 'btn-default' %>
        <%= html_button_to fa_icon('thumbs-up', text: 'Like'), like_challenge_submission_path(submission.challenge, submission),
          class: "btn btn-sm #{like_button_class}",
          remote: true
        %>
      <% end %>

      <% if admin? || submission.user_id == current_user.try(:id) %>
        <% secret_button_class = submission.is_private ? "btn-primary" : "btn-default" %>
        <%= html_button_to fa_icon('user-secret', text: ""), challenge_submission_path(submission.challenge, submission),
          class: "btn btn-sm #{secret_button_class}",
          remote: true,
          method: :patch,
          params: {
            submission: {
              is_private: !submission.is_private
            }
          }
        %>
      <% end %>

      <% if admin? %>
        <%= html_button_to fa_icon('times'), challenge_submission_path(submission.challenge, submission),
          class: 'btn btn-default btn-sm',
          remote: true,
          method: :patch,
          params: {
            submission: {
              points: 0
            }
          }
        %>

        <%= html_button_to fa_icon('check'), challenge_submission_path(submission.challenge, submission),
          class: 'btn btn-default btn-sm',
          remote: true,
          method: :patch,
          params: {
            submission: {
              points: submission.challenge.points
            }
          }
        %>

        <%= html_button_to fa_icon('check', text: "+"), challenge_submission_path(submission.challenge, submission),
          class: 'btn btn-default btn-sm',
          remote: true,
          method: :patch,
          params: {
            submission: {
              points: (submission.challenge.points * 1.3).round
            }
          }
        %>
      <% end %>
    </div>

    <% if submission.points %>
      <% label_class = submission.points > 0 ? (submission.points > submission.challenge.points ? 'label-success' : 'label-info') : 'label-default'%>
      <span class="label <%= label_class %>"><%= fa_icon 'star', text: submission.points %></span>
    <% end %>
    <span class="label label-primary"><%= fa_icon 'thumbs-up', text: submission.cached_votes_up %></span>
    <%= submission.cached_username %>
    <small>solved <%= time_ago_in_words submission.created_at %> ago</small>

  </p>
  <!-- <h4 class="list-group-item-heading">List group item heading</h4> -->
  <!-- <p class="list-group-item-text"> -->
  <!-- </p> -->
  <div class="clearfix"></div>
</<%= submission_tag %>>
