<!-- <h1>Challenges</h1> -->

<% @challenges.group_by(&:category).sort_by{|c,_| c.try(:to_f)}.each do |category, challenges| %>
  <h2><a name="<%= category %>"></a><%= strip_order category %></h2>
  <div class="list-group">
    <% challenges.sort_by{|c| c.try(:name).try(:to_f)}.each do |challenge| %>
      <% points = current_user ? current_user.cached_submission_points[challenge.id] : nil %>
      <% list_item_class = points ? list_group_class_for_score(1.0 * points / challenge.points) : '' %>
      <% list_item_class += " disabled" if challenge.is_locked %>
      <% challenge_tag = (challenge.is_locked && !admin?) ? 'div' : 'a' %>

      <<%= challenge_tag %> href="<%= challenge_url(challenge) %>" class="list-group-item <%= list_item_class %>">
        <!-- <span class="badge">14</span> -->
        <%= fa_icon(:lock) if challenge.is_locked %>
        <%= strip_order challenge.name %>

        <span class="pull-right">
          <% if admin? %>
            <span class="label label-default"><%= fa_icon 'trophy', text: challenge.submissions_count %></span>
          <% end %>

          <% label_class = (points && points > 0) ? (points > challenge.points ? 'label-success' : 'label-info') : 'label-default'%>
          <% points_text = challenge.points.to_s %>
          <% points_text = ("#{points}/#{challenge.points}") if points %>
          <span class="label <%= label_class %>"><%= fa_icon 'star', text: points_text %></span>
        </span>

      </<%= challenge_tag %>>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-success' %>

