<%# render 'breadcrumbs', challenge: @challenge %>

<h1>
  <% if admin? %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-default" %>
      <%= link_to 'Destroy', @challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>

  <%= @challenge.name %>
</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Description</a></li>
  <li role="presentation"><a href="#">Questions</a></li>
  <li role="presentation"><a href="#">Submissions</a></li>
</ul>

<br>

<div class="row">
  <div class="challenge-description col-md-8">
    <%= markdown(@challenge.description).html_safe %>
  </div>
</div>

<hr>

<%=
  render 'submissions/form',
  challenge: @challenge,
  submission: Submission.new
%>

<%# render 'submissions/list', submissions: @submissions %>
