<%# render 'breadcrumbs', challenge: @challenge %>

<h1>
  <% if admin? %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-default" %>
      <%= link_to 'Destroy', @challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>

  <%= strip_order @challenge.name %>
</h1>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">
      <%= fa_icon('book') %>
      Instructions
    </a></li>
    <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">
      <%= fa_icon('comments') %>
      Questions
    </a></li>
    <li role="presentation"><a href="#solutions" aria-controls="solutions" role="tab" data-toggle="tab">
      <%= fa_icon('trophy') %>
      Solutions
      <span class="badge"><%= @challenge.submissions_count %></span>
    </a></li>
  </ul>

  <br>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="instructions">
      <div class="row">
        <div class="challenge-description col-md-8">
          <%= markdown(@challenge.description).html_safe %>

          <%=
            render 'submissions/form',
            challenge: @challenge,
            submission: Submission.new
          %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="questions">
      <div class="row">
        <div class="col-md-8">
          <%= render 'comments/list', comments: @comments %>
          <!-- {nil => [{id: 1}], 1 => [{id: 2}, {id: 3}]} -->
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="solutions">
      <div class="row">
        <div class="col-md-8">
          <%= render 'submissions/list', submissions: @submissions %>
        </div>
      </div>
    </div>
  </div>

</div>


<%# render 'submissions/list', submissions: @submissions %>
