<!DOCTYPE html>
<html>
  <head>
    <title>Mosaic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/cloudinary_javascript_keys" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navbar/navbar' %>
    <%= bootstrap_flash %>
    <div class="container">
      <%= yield %>
    </div>
    <br><br>
  </body>
</html>
